@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

:root {
    --prata: #f3f3f3;
    --prata-dark: #c4c4c4;
    --roxo: #1e195b;
    --lilas: #b7a4ff;
    --page-header-height: 80px;
    --form-area-width: 400px;
    --green: #55ff55;
    --yellow: #ffec55;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--prata);
}

.small {
    font-size: .5em;
}

.uppercase {
    text-transform: uppercase;
}

.flex-centered {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.form-btn {
    padding: 5px;
    width: 48%;
    border: 1px solid var(--prata);
    border-radius: 14px;
    height: 35px;
    color: var(--prata);
    background-color: var(--roxo);
}

.form-btn:hover {    
    border: none;
    color: black;
}

.btn-save:hover {
    background-color: var(--green);
}

.btn-reset:hover {
    background-color: var(--yellow);
}

#page-header {
    background-color: var(--roxo);
    height: var(--page-header-height);
    color: white;
}

#logo-container {
    height: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#logo-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#logo-icon {
    width: 50px;
    display: flex;
    font-size: 2rem;
    color: var(--prata-dark);
}

#logo-container i {
    grid-row: span 2;
}

#logo-container h1 {
    font-weight: 400;
    line-height: 1;
}

#logo-container h3 {
    font-size: .8rem;
    font-weight: 400;
    grid-column: 2;
}

main {
    position: relative;
    max-width: 1366px;
    height: calc(100% - var(--page-header-height));
    margin: 0 auto;
    /* border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro; */
}

#form-area {
    background-color: var(--roxo);
    width: var(--form-area-width);
    height: calc(100% - 20px);
    position: absolute;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    border-radius: 20px;
    top: 10px;
}

#main-content {
    /* background-color: var(--prata); */
    height: 100%;
    width: calc(100% - var(--form-area-width));
    margin-left: var(--form-area-width);
}

#form-add-knowledge {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#form-area > h1 {
    color: var(--prata);
}

#form-area form > div:not(:last-child) {
    display: flex;
    flex-direction: column;
}

#form-area form > div:last-child {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#form-area label {
    font-size: 1rem;
    color: var(--prata);
}

#form-area input, #form-area select, #form-area textarea {
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    color: var(--roxo);
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--prata);
}

#form-area input:focus-visible, #form-area select:focus-visible, #form-area textarea:focus-visible {
    outline-color: var(--lilas);
    outline-width: 2px;
    outline-style: solid;
}

#form-area input::placeholder,.select2-container--default .select2-selection--single .select2-selection__placeholder{
    color: var(--prata-dark);
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
}

#form-area select.placeholder-prata option, #form-area select option {
    color: var(--roxo);
}

#form-area select option:hover {
    background-color: var(--lilas);
}

.select2-container--default .select2-selection--single {
    background-color: var(--prata);
    border: none;
    border-radius: 10px;
}

.select2-container .select2-selection--single {
    padding: 5px;
    height: 38px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--lilas);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--roxo);
}

.select2-results__option {
    padding-left: 12px;
}

.select2-container--open .select2-dropdown--below {
    border: 2px solid var(--lilas);
    border-top: none;
}

.select2-dropdown {
    border-radius: 11px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border: 2px solid var(--lilas);
    border-bottom: none;
}